Parsing of colons in message arguments

The IRC client quasselcore can generate messages such as

    PRIVMSG #somechannel http://example.com

Note that the message body is not encoded as a trailing argument, even though it contains a colon. However, as far as I can tell from [RFC2812, section 2.3.1](https://tools.ietf.org/html/rfc2812#section-2.3.1), this is completely valid behavior.

`ParseMessage()` in this library parses this message differently: the URL gets split up into `http` as the second argument and `//example.com` as the trailing argument.

As far as I can tell, this behavior would be changed by #13.

I'm not seeing this in master or the v2 branch at all:

## v2

```
~ % cat main.go
package main

import (
	"fmt"

	"gopkg.in/sorcix/irc.v2"
)

func main() {
	msg := irc.ParseMessage("PRIVMSG #somechan http://example.com")
	fmt.Println("Command:", msg.Command)
	fmt.Println("Params:")
	for _, p := range msg.Params {
		fmt.Println(" ", p)
	}
}
~ % go run main.go
Command: PRIVMSG
Params:
  #somechan
  http://example.com
```

## master
```
~ % cat main.go
package main

import (
	"fmt"

	//"gopkg.in/sorcix/irc.v2"
	"github.com/sorcix/irc"
)

func main() {
	msg := irc.ParseMessage("PRIVMSG #somechan http://example.com")
	fmt.Println("Command:", msg.Command)
	fmt.Println("Params:")
	for _, p := range msg.Params {
		fmt.Println(" ", p)
	}

	fmt.Println("Empty Trailing:", msg.EmptyTrailing)
	if msg.EmptyTrailing || msg.Trailing != "" {
		fmt.Println("Trailing:", msg.Trailing)
	}
}
~ % go run main.go
Command: PRIVMSG
Params:
  #somechan
  http://example.com
Empty Trailing: false
```

There is a different issue here. If a colon is in an argument, the trailing argument will not be parsed properly.

```
~ % cat main-v2.go
package main

import (
	"fmt"

	"gopkg.in/sorcix/irc.v2"
)

func main() {
	msg := irc.ParseMessage("PRIVMSG #some:chan :testing")
	fmt.Println("Command:", msg.Command)
	fmt.Println("Params:")
	for _, p := range msg.Params {
		fmt.Println(" ", p)
	}
}
~ % go run main-v2.go
Command: PRIVMSG
Params:
  #some:chan
  :testing
```

I apologize, I must have misinterpreted the issue. When sending the `PRIVMSG` from my initial post through robustirc.net, for some reason only the text `//example.com` arrives at the destination. Being a go analphabet, I didn't write a test case.

I guess the issue lies somewhere else, then.